[submodule "clients-api"]
	path = clients-api
	url = https://github.com/luisbelisario/clients-api.git
[submodule "security-api"]
	path = security-api
	url = https://github.com/luisbelisario/security-api.git
[submodule "courts-api"]
	path = courts-api
	url = git@github.com:luisbelisario/courts-api.git
